<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="button-row">
          <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active" >Live Streams</button>
        <button mat-button [routerLink]="['/counter']" routerLinkActive="router-link-active">Counter</button>
        <button mat-button [routerLink]="['/weather']" routerLinkActive="router-link-active">Weather</button>
        <!-- <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <a mat-button routerLink=".">Link</a> -->
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row> -->
  </mat-toolbar>